@import url('https://fonts.googleapis.com/css?family=Orbitron');

.grid-square {
    height: 100px;
    width: 100px;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    outline: dashed 1px rgb(61, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}